.purchase__btn {
  user-select: none;
  padding: 13px 59px;
  background-color: #E07153;
  background-image: url("./src/assets/img/bg-btns.svg");
  background-repeat: no-repeat;
  background-size: cover;
  outline: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  border: 1px solid #C95C3F;
  border-radius: 2px;
}

.purchase__price {
  position: relative;
  user-select: none;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #1B1B1B;
}

.purchase__old-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: line-through;
  color: #B7B7B7;
  position: absolute;
  top: -15px;
}
