.menu{
    &-link{
        display: block;
        padding: 8px 0;
        @media (hover: hover) and (pointer: fine) {
            &:hover{
                text-decoration: underline;
            }
        }
    }
}