.item-card{
    padding: 25px;
    min-height: 256px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__inner{
        background: #FFFFFF;
        max-width: 392px;
    }
    &__info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-text{
            position: relative;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #B7B7B7;
            &:nth-child(2){
                &::before{
                    content: '';
                    position: absolute;
                    width: 4px;
                    height: 4px;
                    background: #E07153;
                    border-radius: 100%;
                    left: -15%;
                    top: 40%;
                }
            }
        }
    }
    &__discr{
        margin-bottom: 19px;
    }
    &__purchase{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-img{
        user-select: none;
        pointer-events: none;
    }
}
.info{
    &-text{
        &__box{
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }
    &-options{
        &__box{
            position: relative;
            display: flex;
            gap: 12px;
        }
    }
}
.purchase{
    &__btn{
        user-select: none;
        padding: 13px 59px;
        background-color: #E07153;
        background-image: url('./src/assets/img/bg-btns.svg');
        outline: none;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF;
        border: 1px solid #C95C3F;
        border-radius: 2px;
    }
    &__price{
        position: relative;
        user-select: none;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        color: #1B1B1B;
    }
    &__old-price{
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-decoration-line: line-through;
        color: #B7B7B7;
        position: absolute;
        top: -15px;
    }
}
.size-pizza{
    &__extra-pay{
        position: absolute;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: #B7B7B7;
        top: -65%;
        right: 0;
    }
    &__box{
        position: relative;
        background: #F5F5F5;
        border-radius: 2px;
        padding: 4px 8px;
        color: #B7B7B7;
        &:has(.size-pizza__radio:checked + .size-pizza__custom){
            background: #E07153;
            color: white;
        }
        &:nth-child(3){
            ::before{
                    content: '';
                    position: absolute;
                    width: 4px;
                    height: 4px;
                    background: #E07153;
                    border-radius: 100%;
                    left: -15%;
                    top: 40%;
            }
        }
    }
    &__custom{
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
    }
    &__radio{
        cursor: pointer;
        margin: 0;
        position: absolute;
        opacity: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 11;
    }
}