.item-card {
  padding: 25px;
  min-height: 256px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-card__inner {
  background: #FFFFFF;
  max-width: 392px;
}

.item-card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-card__info-text {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #B7B7B7;
}

.item-card__info-text:nth-child(2)::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: #E07153;
  border-radius: 100%;
  left: -15%;
  top: 40%;
}

.item-card__discr {
  margin-bottom: 19px;
}

.item-card__purchase {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-card-img {
  user-select: none;
  pointer-events: none;
}

.info-text__box {
  display: flex;
  align-items: center;
  gap: 20px;
}

.info-options__box {
  position: relative;
  display: flex;
  gap: 12px;
}
