.about__container {
  margin-bottom: 148px;
  background-image: url("./src/assets/img/About-img-bg.png");
  background-repeat: no-repeat;
  background-position: center right 4%;
}

.about__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__text-box {
  max-width: 553px;
}

.about__discr {
  font-weight: 300;
  font-size: 20px;
  line-height: 160%;
  color: #1B1B1B;
}
