.catalog{
    &__title{
        font-weight: 600;
        font-size: 40px;
        line-height: 50px;
        color: #1B1B1B;
        margin-bottom: 21px;
    }
    &-categories{
        margin-bottom: 14px;
        &__list{
            display: flex;
            gap: 4px;
            align-items: center;
        }
        &__btn{
            outline: none;
            border: 1px solid #E8E8E8;
            border-radius: 8px;
            background-color: #fff;
            display: inline-flex;
            gap: 8px;
            padding: 12px 20px;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #1B1B1B;
            align-items: center;
            &--active{
                color: #E07153;
                border-color: #E07153;
            }
        }
        &__img{
            width: 24px;
            height: 24px;
        }
    }
    &-sortby{
        margin-bottom: 24px;
        &__text{
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #B7B7B7;
            margin-bottom: 8px;
        }
    }
}