.header{
    background: linear-gradient(#F5F5F5, #F5F5F5);
    background-size: auto 52%;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 5px;
    margin-bottom: 48px;
    &__nav{
        width: 100%;
    }
    &__inner{
        margin-top: 10px;
        display: flex;
        align-items: center;
        gap: 48px;
    }
}