.itempage{
    &__container{
        .slider-wrapper{
            min-width: 570px;
            max-width: 570px;
            width: 100%;
            margin-right: 50px;
        }
        .slider-arrow{
            padding: 15px 10px;
            &:nth-child(1){
                left: -25px;
            }
            &:nth-child(3){
                right: -25px;
            }
        }
        .size-pizza__extra-pay{
            right: 70%;
        }
        .purchase__price{
            width: 100px;
            white-space: nowrap;
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
        }
    }
    &__title{
    }
    &__step-back{

    }
    &__info{
        &-box{

        }
    }
    &__сomposition{
    }
    &__delivery{

        .usual-font-p{
        }
    }
    &__organic-table{
        text-align: center;
        padding: 9.5px 0;
        border: 1px solid #E2E1E1;
        margin-bottom: 24px;
    }
    &__price{

    }
    &__quantity{

    }
    &__size{
        margin-bottom: 15px;
    }
}
.item-img{

}
.step-back{
    &__link{

    }
}
.organic-table{
    &__title{
        min-width: 132px;
        &:not(:last-child){
            border-right: 1px solid #E2E1E1;
        }
    }
    &__discr{
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        &:not(:last-child){
            border-right: 1px solid #E2E1E1;
        }
    }
}
.quantity{
    &-setter{
        font-weight: 200;
        font-size: 28px;
        line-height: 34px;
        color: #E07153;
        border: none;
        outline: none;
        background-color: transparent;
    }
    &-text{
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: #1B1B1B;
    }
}
.delivery{
    &__link{

    }
}
.size{
    &-btns{
        &__box{
            display: flex;
            align-items: center;
            gap: 12px;
            position: relative;
        }
    }
    &__title{
    }
}