.itempage__container .slider-wrapper {
  min-width: 570px;
  max-width: 570px;
  width: 100%;
  margin-right: 50px;
}

.itempage__container .slider-arrow {
  padding: 15px 10px;
}

.itempage__container .slider-arrow:nth-child(1) {
  left: -25px;
}

.itempage__container .slider-arrow:nth-child(3) {
  right: -25px;
}

.itempage__container .size-pizza__extra-pay {
  right: 70%;
}

.itempage__container .purchase__price {
  width: 100px;
  white-space: nowrap;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

.itempage__organic-table {
  text-align: center;
  padding: 9.5px 0;
  border: 1px solid #E2E1E1;
  margin-bottom: 24px;
}

.itempage__size {
  margin-bottom: 15px;
}

.organic-table__title {
  min-width: 132px;
}

.organic-table__title:not(:last-child) {
  border-right: 1px solid #E2E1E1;
}

.organic-table__discr {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

.organic-table__discr:not(:last-child) {
  border-right: 1px solid #E2E1E1;
}

.quantity-setter {
  font-weight: 200;
  font-size: 28px;
  line-height: 34px;
  color: #E07153;
  border: none;
  outline: none;
  background-color: transparent;
}

.quantity-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #1B1B1B;
}
