.footer {
  margin-top: 140px;
  background: linear-gradient(#1B1B1B, #1B1B1B);
  background-size: auto 70%;
  background-repeat: no-repeat;
  background-position: bottom;
  color: #FFFFFF;
  padding: 35px 0 50px 0;
}

.footer .categories-link {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.footer .nav-categories__links {
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 20px;
  justify-content: flex-start;
  max-width: 400px;
}

.footer__inner {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer__menu-box {
  margin-bottom: 24px;
}

.footer__menu-list {
  display: flex;
  gap: 40px;
}

.footer__menu-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.footer__social-media {
  display: flex;
  gap: 14px;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 18px;
}

.footer__phone-number {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.footer__time-schedule {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.footer__copyright {
  float: right;
  margin-top: 13px;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
}
